*.env
*.tar
*.tar.gz
*.zip
*.rar
*.gz
*.log
*.DS_Store
*.mmdb
*.ttf
*.ttc
*.otf

/.env.conf
/conf/nvim/plugged/*
/opt
/backup
/logs
/examples
/bin/macos/nali-go
/bin/linux/nali-go

/bin/macos/doggo
/bin/macos/doggo-api

/bin/linux/doggo
/bin/linux/doggo-api


/conf/zplug
/conf/nvim/plugged/*